.counter {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 3em;
}
.containerButton {
  display: flex;
  gap: 1.25rem;
}
button {
  width: 150px;
  height: 35px;
  border-radius: 1rem;
  border: none;
  color: white;
  font-weight: 700;
}
.Increment {
  background-color: green;
}
.Reset {
  background-color: rgb(100, 98, 98);
}
.Decrement {
  background-color: red;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.842);
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(-50px);
}
